@font-face {
    font-family: digital7;
    src: url(Font/Digital7Italic-BW658.ttf);
  }


.container {
    width: 500px;
    height: 500px;
    background-color: yellow;
    position: absolute;
    inset: 0; 
    margin: auto;
    border-radius: 5px;
    -webkit-box-shadow: 11px 13px 0px -1px rgba(0,0,0,0.78);
    -moz-box-shadow: 11px 13px 0px -1px rgba(0,0,0,0.78);
    box-shadow: 11px 13px 0px -1px rgba(0,0,0,0.78);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#display {
    height: 20%;
    width: 85%;
    padding: 5px;
    background-color: black;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin-top: 5%;
    text-align: end;
    font-family: digital7;
    font-size: 4em;
    color: white;
    overflow: hidden;
    text-overflow: " [..]";
} 

.row1, .row2, .row3, .row4, .row5 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 85%;
}

.row1 {
    margin-top: 5%;
}
.row5 {
    margin-bottom: 5%;
}

button.on {
    color: white;
}

button {
    text-align: center;
    cursor: pointer;
    font-size: 2em;
    margin: 0.2rem;
    height: 65%;
    width: 65%;
    outline: none;
    background-color: #27ae60;
    border-radius: 5px;
    box-shadow: 0 9px #95a5a6;
} 

button:hover {
    background-color: #2ecc71;
}

button:active {
    background-color: #2ecc71;
    box-shadow: 0 5px #95a5a6;
    transform: translateY(4px);
}

/* Note to self 

Thinking in terms of text size? Ems / Rems

Thinking of a child compared to a parent? Percentage

Thinking in terms of the screen size? Vh Vw Vmin Vmax

Thinking in terms of "this number is what i set and no relative changes affect it's value"? Px */